Repository openshift/multiarch-tuning-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

Path conditions:
  multiarch-tuning-operator-bundle-on-push: (((any of: bundle/***) or (any of: .tekton/***)) or (any of: bundle.konflux.Dockerfile)) or (any of: trigger-konflux-builds.txt)
  multiarch-tuning-operator-on-pull-request: (((((((((any of: .tekton/***) or (any of: apis/***)) or (any of: controllers/***)) or (any of: pkg/***)) or (any of: test/***)) or (any of: konflux.Dockerfile)) or (any of: go.mod)) or (any of: main.go)) or (any of: go.sum)) or (any of: trigger-konflux-builds.txt)

Konflux build pipeline service account migration for multiarch-tuning-operator-bundle Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

MULTIARCH-5536: support glob-based registries in the pull secrets
  pkg/e2e/podplacement/pod_placement_test.go
  pkg/image/auth.go
  pkg/image/auth_test.go
  pkg/image/cache.go
  pkg/image/helpers_glob.go
  pkg/image/inspector.go
Due: multiarch-tuning-operator-on-pull-request

chore(deps): update konflux references
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

use hostmount-anyuid-v2 SCC for ppc if cluster version >= 4.19
  controllers/operator/clusterpodplacementconfig_controller.go
  controllers/operator/objects.go
  pkg/testing/framework/utils.go
  pkg/testing/framework/utils_test.go
Due: multiarch-tuning-operator-on-pull-request

MULTIARCH-5365: Implement local PodPlacementConfig API
  apis/multiarch/common/priority.go
  apis/multiarch/v1beta1/podplacementconfig_types.go
  apis/multiarch/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  config/crd/bases/multiarch.openshift.io_PodPlacementconfigs.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

update ocp-release.doc
  docs/ocp-release.md
Due: none

test
  .tekton/run-prowjob-bundle.yaml
  .tekton/run-prowjob.yaml
  deploy/base/kustomization.yaml
  deploy/envs/konflux/kustomization.yaml
  hack/deploy-and-e2e.sh
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

update main to use flag around CRD ENoExecEvent
  controllers/operator/objects.go
  main.go
Due: multiarch-tuning-operator-on-pull-request

Add validating webhook for enoexevevent
  PROJECT
  apis/multiarch/v1beta1/enoexecevent_webhook.go
  apis/multiarch/v1beta1/webhook_suite_test.go
  config/certmanager/certificate.yaml
  config/certmanager/kustomization.yaml
  config/certmanager/kustomizeconfig.yaml
  config/default/manager_webhook_patch.yaml
  config/default/webhookcainjection_patch.yaml
  config/webhook/kustomizeconfig.yaml
  main.go
Due: multiarch-tuning-operator-on-pull-request

updated test suite
  apis/multiarch/v1beta1/webhook_suite_test.go
  controllers/enoexecevent/suite_test.go
Due: multiarch-tuning-operator-on-pull-request

make bundle
  apis/multiarch/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  config/webhook/manifests.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

WIP: Clear cache when global pull secret changes
  pkg/image/cache.go
  pkg/image/facade.go
Due: multiarch-tuning-operator-on-pull-request

Add implementation history and checklist for enhancements
  docs/enhancements/MTO-0001.md
  docs/enhancements/MTO-0002-local-pod-placement.md
  docs/enhancements/MTO-0004-enoexec-monitoring.md
Due: none

automated checking snapshot images
  docs/ocp-release.md
  hack/check-snapshots.sh
Due: none

automated changes to index.yaml
  hack/build-indexs.sh
  hack/update-graph.sh
Due: none

Update Konflux references
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

chore(deps): update konflux references to 7f25218
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

.tekton: add placeholder pipelines to make tests always pass
  .tekton/run-prowjob-bundle.yaml
  .tekton/run-prowjob.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

Trigger konflux builds
  trigger-konflux-builds.txt
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

update multiarch-tuning-operator to 600037b9f
  bundle.konflux.Dockerfile
Due: multiarch-tuning-operator-bundle-on-push

update multiarch-tuning-operator to b8ffdcdc91
  bundle.konflux.Dockerfile
Due: multiarch-tuning-operator-bundle-on-push

snapshot multiarch-tuning-operator-v1-x-6lqsj
  fbc-v4-16/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-17/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-18/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-19/catalog/multiarch-tuning-operator/index.yaml
Due: none

Update trigger-konflux-builds.txt
  trigger-konflux-builds.txt
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

Add CRD ENoExecEvent operator-sdk create api --group multiarch --version v1beta1 --kind ENoExecEvent --resource --controller
  PROJECT
  apis/multiarch/v1beta1/enoexecevent_types.go
  apis/multiarch/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/multiarch.openshift.io_enoexecevents.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_multiarch_enoexecevents.yaml
  config/crd/patches/webhook_in_multiarch_enoexecevents.yaml
  config/rbac/multiarch_enoexecevent_editor_role.yaml
  config/rbac/multiarch_enoexecevent_viewer_role.yaml
  config/rbac/role.yaml
  config/samples/kustomization.yaml
  config/samples/multiarch_v1beta1_enoexecevent.yaml
  controllers/enoexecevent/enoexecevent_controller.go
  controllers/enoexecevent/suite_test.go
  main.go
Due: multiarch-tuning-operator-on-pull-request

chore(deps): update konflux references to 61aab0f
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

MULTIARCH-5372: Add finalizers to ClusterPodPlacementConfig early to ensure proper cleanup
  controllers/operator/clusterpodplacementconfig_controller.go
  controllers/operator/clusterpodplacementconfig_controller_test.go
  pkg/e2e/operator/pod_placement_config_test.go
Due: multiarch-tuning-operator-on-pull-request

ENoExecEvent resources are internal objects not intended for direct user interaction. The ClusterServiceVersion is annotated to hide the ENoExecEvent CRD from the user interface
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  config/manifests/bases/multiarch-tuning-operator.clusterserviceversion.yaml
Due: multiarch-tuning-operator-bundle-on-push

Make bundle - Fixed CRD schema issues (should only be applied to cppc) - Updated kustomization.yaml paths for patches - Ran `kustomize edit fix` to clean up kustomize configs
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  bundle/manifests/multiarch.openshift.io_enoexecevents.yaml
  config/crd/kustomization.yaml
  config/manifests/bases/multiarch-tuning-operator.clusterserviceversion.yaml
Due: multiarch-tuning-operator-bundle-on-push

Added v4-20 to the fbc
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
  fbc-v4-20/catalog/multiarch-tuning-operator/index.yaml
Due: multiarch-tuning-operator-bundle-on-push, multiarch-tuning-operator-on-pull-request

Partially move Pod model in pkg/models
  controllers/podplacement/pod_model.go
  controllers/podplacement/pod_model_test.go
  controllers/podplacement/pod_reconciler.go
  controllers/podplacement/scheduling_gate_mutating_webhook.go
  pkg/models/pod.go
  pkg/models/pod_test.go
  pkg/testing/builder/pod.go
Due: multiarch-tuning-operator-on-pull-request
